__pycache__/
*.py[cod]

# Virtual Environment (Bohot badi files hoti hain, upload nahi karni)
venv/
.venv/
env/
ENV/
.env

# Local Vector Database (Har user ka apna DB banega)
chroma_db/
*.sqlite3

# IDE & OS System Files
.vscode/
.idea/
.DS_Store